@import '@fontsource/montserrat/latin-400.css';
@import '@fontsource/montserrat/latin-600.css';
@import '@fontsource/montserrat/latin-700.css';
@import '@fontsource/montserrat/latin-ext-400.css';
@import '@fontsource/montserrat/latin-ext-600.css';
@import '@fontsource/montserrat/latin-ext-700.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.course-card {
  transition:
    transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    box-shadow 0.3s;
}

.course-card:hover {
  transform: translateY(-6px);
  box-shadow:
    0 20px 25px -5px rgba(0, 102, 255, 0.1),
    0 10px 10px -5px rgba(0, 102, 255, 0.04);
}

.hidden-card {
  display: none !important;
}

.slash-motif {
  transform: skewX(-25deg);
}
